.cell {
    border: 1px solid #4a2c2c;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    background-color: #773838;
}

.player {
    font-weight: bold;
}